<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="updateProfile()" class="form-horizontal">
        <legend>Acitvate Exams</legend>
        <div class="form-group">
          <label for="number" class="col-sm-3">Number of exams to activate </label>
          <div class="col-sm-7">
            <input type="number" name="QuntatityToActivate" id="QuntatityToActivate" class="form-control" ng-model="activation.QuntatityToActivate">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-3">Exam Type</label>
          <div class="col-sm-7">
            <input type="text" name="productName" id="productName" class="form-control" ng-model="activation.productName">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-success">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
