<div class="container login-container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <form ng-submit="FetchData()">
        <legend>Get History</legend>
        <div class="form-group">
          <label for="name">User</label>
          <input type="date" name="inputDateHistory" id="historyInputDate" placeholder="Date" class="form-control" ng-model="user.token" autofocus>
        </div>
        <div ng-show="showDataTokenBy">
          <h1>all the data </h1><p ng-bind="returnedDataString"></p>
          <h1>the token </h1><p ng-bind="returnedData.token"></p>
          <h1>email </h1><p ng-bind="returnedData.email"></p>
          <h1>the name </h1><p ng-bind="returnedData.name"></p>
          </div>
        <button type="submit" class="btn btn-success">Search</button>
      </form>
      <div class="hr-title"><span>By the Hodz</span></div>
    </div>
  </div>
</div>
