<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="Assess_Talent_Management_QUAD.png" class="navbar-brand" alt="Assess_Talent_Management" style="width:60px;height:60px;">

      <a href="/" class="navbar-brand">Asses Scores administration</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-show='userTokenLevel > 500 ' ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
        <li ng-class="{ active: isActive('/contact')}"><a href="/contact">Contact</a></li>
        <li ng-class="{ active: isActive('/about')}"><a href="/about">About</a></li>
        <li ng-class="{ active: isActive('/library')}"><a href="/library">Library</a></li>


        <li ng-show='userTokenLevel > 1500 ' ng-class="{ active: isActive('/results')}"><a href="/results">Results</a></li>
        <li ng-show='userTokenLevel > 500 ' ng-class="{ active: isActive('/userProfile')}"><a href="/userProfile">Examiner Profile</a></li>
        <li ng-show='userTokenLevel > 2500 ' ng-class="{ active: isActive('/billingHistory')}"><a href="/billingHistory">Billing History</a></li>
        <li ng-show='userTokenLevel > 2500 ' ng-class="{ active: isActive('/purchaseRequest')}"><a href="/purchaseRequest">Purchase Request</a></li>
        <li ng-show='userTokenLevel > 2500 ' ng-class="{ active: isActive('activator')}"><a href="/activator">Activator</a></li>
        <li ng-show='userTokenLevel > 3500 'ng-class="{ active: isActive('/admin')}"><a href="/admin">Admin</a></li>

      </ul>
      <ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-avatar dropdown-toggle">
            <img ng-src="{{currentUser.picture || currentUser.gravatar}}"> {{currentUser.name || currentUser.email || currentUser.id}} <i class="caret"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/account">My Account</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()"}>Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul ng-if="!isAuthenticated()" class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/login')}"><a href="/login">Log in</a></li>
        <li ng-class="{ active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
